/*內容*/

/*圖片區*/
.mainzone {
    margin-top: 20px;
}

/*大圖區*/
.mainpicarea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 30vh;
    /*保持按鈕不跳動*/
}

.showpic {
    height: 100%;
}

/*圖片框線*/
.showpic>img {
    box-sizing: border-box;
    padding: 2px;
    border: 1px solid #aaa;
    cursor: zoom-in;
}

/*按鈕*/
.changepicbtn {
    margin: auto 5px;
    border-radius: 8px;
    background-color: #aaa;
    opacity: 0.3;
    transition: 0.5s;
    cursor: pointer;
}

.changepicbtn>img {
    padding: 20px 10px;
    vertical-align: middle;
}

.changepicbtn:hover {
    opacity: 0.8;
}

/*小圖區*/
.allpicarea {
    height: 10vh;
    width: 90%;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
}

.portfoliopics {
    margin: 2px 5px;
    text-align: center;
    border: 1px solid #ccc;

}

/*圖片置中設定*/
.showpic::before,
.portfoliopics::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.showpic>img,
.portfoliopics>img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

/*目前圖片框線*/
.portfoliopics.selecteddpic {
    border: 3px solid #f0437e;
    margin: 0 3px;
}


/*RWD*/
@media screen and (max-width: 768px) and (max-height: 415px) {

    .mainzone {
        width: auto;
        margin: 10px auto;
    }

    .mainpicarea {
        height: calc(100vh - 102px);
        /*保持按鈕不跳動*/
    }

    .allpicarea {
        height: 30vh;
    }

}

@media screen and (min-width: 768px) {

    .cases {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 30px 50px;
    }

    .mainzone {
        margin-right: 10px;
        width: 60%;
        max-width: 600px;
    }

    .mainpicarea {
        height: 25vw;
        /*保持按鈕不跳動*/
        max-height: 400px;
    }

    .allpicarea {
        height: 8vw;
        /*保持按鈕不跳動*/
        max-height: 100px;
        width: 75%;
    }

}